.hero{
  width: 100%;
  height: 100vh;

}

.bg-vid{
  position: fixed;
  left: 0;
  top: 0;
}

@media (min-aspect-ratio: 16/9){
  .bg-vid{
  width: 100%;
  height: auto;
}

}

@media (max-aspect-ratio: 16/9){
  .bg-vid{
  width: auto;
  height: 100%;
}

}

#pre-loader{
  background: #000000 url(loader.gif) no-repeat center center;
  background-size: contain; /* This will show your GIF properly sized */
  height: 100vh; /* Changed from 100% */
  width: 100vw;  /* Changed from 100% */
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
