.hero{
  width: 100%;
  height: 100vh;

}

.bg-vid{
  position: fixed;
  left: 0;
  top: 0;
}

@media (min-aspect-ratio: 16/9){
  .bg-vid{
  width: 100%;
  height: auto;
}

}

@media (max-aspect-ratio: 16/9){
  .bg-vid{
  width: auto;
  height: 100%;
}

}

#pre-loader{
  background: #b7c29d url(loader.gif) no-repeat center center;
  background-size: 30% 15%; /* Percentage of the screen size */
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
